extends layout

block content
  h1= title
  <h2 class="linki"><a href="szefuncio">panel szefuncia</a></h2>
  <h2 class="linki"><a href="pracownik">panel pracownika</a></h2>
  <h2 class="linki"><a href="klient">panel klienta</a></h2>

  p tak dla przykładu tabela

  <table id="Employees">
  <tr>
  <th>ID Pracownika</th>
  <th>Imię</th>
  <th>Nazwisko</th>
  <th>Rola</th>
  <th>Data Zatrudnienia</th>
  <th>Numer telefonu</th>
  </table>
  


